<div class="todos-wrapper">
  <div class="container">
    <div class="todo-item completed">
      <div class="check-box">
        <i class="material-symbols-outlined">check</i>
      </div>

      <p class="todo-text">This is the todo text!</p>
    </div>

    <div class="todo-item">
      <div class="check-box">
        <i class="material-symbols-outlined">check</i>
      </div>

      <p class="todo-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla
        temporibus cumque unde molestias et ex possimus illum, molestiae,
        consectetur magnam rem vero beatae ducimus voluptatum ea animi
        perferendis dolorem. Eligendi?
      </p>
    </div>
  </div>
</div>
